#logo
{
 width: 750px;
 height: auto;

}

.bg { 
    /* The image used */
    background-image: url("images/p2.jpg");

    height: 100%; 
    width: auto;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 25px;
    
}
div.body
{
	border:2px solid black;
	width: 600px;
	height: 200px;
	margin: auto;
	background: #5d5e60;
	text-align: center;
	color:white;

}
.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 15px;
    background: #5d5e60;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #eee;
    display: block;
}

.sidenav a:hover {
    color: #DD4638;
    background: #5d5e60;
}



